<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">

     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
 <footer>
   <div class="content">
     <div class="left box">
       <div class="upper">
         <div class="topic" style="font-size: 1.2cm;">VDrive</div>
         <hr>
        <br>
       </div>
       <div class="lower">
         <div class="topic">Contact us</div>
         <hr>
         <br>
         <div class="phone">
           <a href="#"><i class="fas fa-phone-volume"></i>9595595955</a>
         </div>
         <div class="email">
           <a href="#"><i class="fas fa-envelope"></i>vdrive@gmail.com</a>
         </div>
       </div>
     </div>
     <div class="middle box">
       <div class="topic">Our Services</div>

     </div>
     <div class="right box">
       <div class="topic">For queries</div>
       <form action="#">
         <input type="text" placeholder="Enter email address">
         <input type="submit" name="" value="Send">

       </form>
     </div>
   </div>
   <div class="bottom">
     <p>Copyright © 2020 VDrive All rights reserved</p>
   </div>
 </footer>

</body>
</html>
