
.container{
   margin: 0% 35% 5%;
   padding: 1% 1% 1%;
  float: left;
  width: 30%;
  background-color: rgb(255, 255, 255);
  border-radius: 2%;
}
h1{
  font-size: 30px;
  text-align: center;
}
body{
  background-color: rgb(247, 247, 247);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
mat-radio-button{
  padding-left: 2%;
}
