<html>
  <body>
    <div class='content'>
      <div class='column'>
        <mat-card class="roundtrip">
          <div class="leftpane"><h1>Round-Trip</h1>
            <hr>
          <p>Why just drop at your destination? We wait for you till you complete your shopping, appointment, meeting, or dinner. We sit tight until you are done with your work and drop you at your pickup location.Have a complete round-trip journey with our driver</p></div>
          <button mat-raised-button color="accent">Book Now</button>
          </mat-card>
      </div>
      <div class='column' >
        <mat-card class="outstation">
          <div class="leftpane"><h1>Outstation</h1>
            <hr>
          <p>Why wait for a long weekend for a relaxing trip to your favourite getaway? Let the pressure of driving long distances, safety and taking care of the route be on our gentle chauffeur. Let your retreat start while you’re on the road instead of when you reach your destination</p></div>
          <button mat-raised-button color="accent">Book Now</button>
          </mat-card>
      </div>
      <div class='column' >
        <mat-card class="city-drive">
          <div class="leftpane"><h1>City Drive</h1>
            <hr>
          <p>Whether you need to go for your weekly grocery shopping trips, pick kids from school or are looking for a relaxed ride back home or to a business meeting, we have you covered. Let our drivers deal with the traffic, the signals or traffic rules, while you enjoy your ride</p></div>
          <button mat-raised-button color="accent">Book Now</button>
          </mat-card>
      </div>
      <div class='column'>
        <mat-card class="hourdrive">
          <div class="leftpane"><h1>Hourly Drive</h1>
            <hr>
          <p>Only one stop drive ? Nah, you can hire our drivers in an hourly manner and travel to multiple places you wish to. Multiple places, multiple stops, multiple satisfaction with our single driver.Spend your hourly schedule by choosing Hourly Drive</p></div>
          <button mat-raised-button color="accent">Book Now</button>
          </mat-card>
      </div>
    </div>
  </body>
</html>



