#sect1 {
  height: 650 px;
  color: #fff;
  background-image: url("https://www.driveu.in/static/web/v4/images/banner03.jpg");
  height: 80%;
  background-size: cover;
}
h2 {
  text-align: right;
  font-size: 1.5cm;
  padding-right: 10%;
  padding-top: 10%;
}
.button1{
  position:relative; left:65%; top:10%;
  padding: 5px 30px;
}
.button2{
  position:relative; left:66%; top:10%;
  padding: 5px 35px;
}
