
div
{
  margin: 5% 15% 5%;
  text-align: left;


}
#banner{
  font-size: 28px;
  background-color: rgb(54, 54, 54);
  padding: 2% 2% 2%;
  color: rgb(255, 255, 255);
  border-radius: 20%;
  text-align: center;

}

.button1{
  margin: 10% 5% 0;
  padding: 2% 7% 2%;
  background-color: #fd288c;
  color: #fff;
  font-size: 150%;
}

mat-card{
  margin: 10% 20% 10%;
  padding: 8% 8% 5%;
  border-radius: 5%;
  color: rgb(27, 26, 26);
  background-color: #ffffff;
  width: 50%;
}


mat-toolbar{
  height: 7vh;
  background-color:	rgba(17, 17, 17, 0.877);
  color: floralwhite;

}
.menu-spacer {
  flex: 1 1 auto;
}
a{
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

mat-icon{
  margin-right: -4%;
}
