<html lang="en" >
<body>
    <div class="footer">
      <h1>VDrive</h1>
      <hr>
      <h3>Follow us on:</h3>
      <div class="socialmedia">

          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-youtube"></a>
          <a href="#" class="fa fa-instagram"></a>
          <a href="#" class="fa fa-whatsapp"></a>
        </div>
    <br>
    <p>Copyrights@VDrive</p>




